:root {
  /* fonts */
  --main-font: 'Poppins', sans-serif;
  --secondary-font: ;
  /* text colors */

  /* bg colors */

  /* onhers */
}

body {
  font-family: var(--main-font);
  color: #8f95a5;
}
