:root {
  /* fonts */
  --main-font: 'Poppins', sans-serif;
  --secondary-font: ;

  /* text colors */
  --main-txt-cl: #8f95a5;
  --acent-txt-cl: #263238;
  --titel-cl: #000000;

  /* bg colors */
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #f5f5f5;
}

/* Reset Start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* Reset End */

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* Base styles */

.container {
  width: 1378px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid tomato;
}

.section {
  padding-top: 180px;
  padding-bottom: 180px;
}

.btn {
  width: 218px;
  height: 60px;

  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--light-bg-cl);
  background-color: var(--acent-txt-cl);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
  background-color: var(--titel-cl);
}

/* Header */

.header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 236px;

  font-size: 36px;
  line-height: calc(54 / 36);
  color: var(--main-txt-cl);
}

.acent {
  color: var(--titel-cl);
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--acent-txt-cl);
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-txt-cl);
}

.nav-link-current {
  color: var(--main-txt-cl);
}

.nav-btn {
  max-width: 350px;
  min-width: 312px;
  min-height: 70px;
  padding: 19px 55px;

  font-family: inherit;
  font-size: 20px;
  line-height: calc(30 / 20);
  letter-spacing: 0.03em;
  color: var(--titel-cl);
  background-color: var(--light-bg-cl);
  cursor: pointer;
  border: 2px solid #263238;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--dark-bg-cl);
}

/* Section Hero */

.hero {
  padding-top: 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-titel {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: calc(80 / 64);
  color: var(--titel-cl);
}

.hero-wrap {
  position: absolute;
  left: 420px;
  top: 89px;
}

.hero-left {
  position: relative;
  width: 540px;
}

.hero-wrraper {
  display: flex;
  flex-basis: 540px;
  flex-wrap: wrap;
  margin-right: auto;
}

.hero-text {
  margin-bottom: 60px;

  font-size: 24px;
  line-height: calc(36 / 24);
  text-shadow: 1px 1px 1px #000000;
}

.hero-btn {
  min-width: 426px;
  min-height: 100px;
  padding: 23px 64px;

  font-size: 36px;
  line-height: 54px;
}

/* Section Skills */

.skills {
  padding-top: 0;
}

.skills-container {
  position: relative;
}
.skills-titel {
  margin-bottom: 60px;

  font-size: 48px;
  line-height: calc(72 / 48);
  color: var(--titel-cl);
  text-align: center;
}

.speakeng-wrap {
  width: 426px;
  padding-top: 32px;
  padding-bottom: 154px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 0;

  background-color: var(--dark-bg-cl);
  border-radius: 10px;
}

.writing-wrap {
  position: absolute;
  left: 456px;
  top: 0;
  width: 426px;
  padding: 28px 18px;

  background-color: var(--dark-bg-cl);
  border-radius: 10px;
}

.writing-text {
  width: 340px;
}

.reading-wrap {
  position: absolute;
  left: 912px;
  top: 0;
  width: 426px;
  padding: 28px 18px;

  background-color: var(--dark-bg-cl);
  border-radius: 10px;
}

.reading-text {
  width: 359px;
}

.listening-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  padding-top: 28px;

  padding-left: 18px;
  padding-right: 18px;
  width: 882px;
  flex-direction: row-reverse;
  justify-content: space-between;

  background-color: var(--dark-bg-cl);
  border-radius: 10px;
}

.listening-left {
  width: 324px;
}

.skills-subtitel {
  margin-bottom: 20px;

  font-size: 30px;
  line-height: calc(45 / 30);
  color: var(--acent-txt-cl);
}

.skill-text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: calc(24 / 16);
}

/* Section About */

.about {
  padding-top: 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.left-about {
  display: flex;
  width: 652px;
  flex-wrap: wrap;
}

.about-titel {
  margin-bottom: 60px;

  font-size: 48px;
  line-height: calc(72 / 48) 72px;
  color: var(--titel-cl);
}

.about-list {
  display: flex;
  justify-content: space-between;
  width: 555px;
}

.about-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: calc(36 / 20);
}

/* Section Pricing */

.pricing-titel {
  font-size: 48px;
  line-height: calc(72 / 48);
  color: var(--titel-cl);
}

.pricing-subtitel {
  font-size: 30px;
  line-height: calc(48 / 30);
  text-transform: capitalize;
  color: var(--acent-txt-cl);
}

.price-text {
  font-size: 20px;
  line-height: calc(30 / 20);
}

/* Section Contact */

.contact-titel {
  font-size: 48px;
  line-height: calc(72 / 48);
  color: var(--titel-cl);
}

.contact-text {
  font-size: 20px;
  line-height: calc(30 / 20);
}

.imale {
  width: 425px;
  height: 70px;
  border: 1px solid #8f95a5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--main-txt-cl);
}

.contact-btn {
  width: 312px;
  height: 70px;
}

/* Footer section */

.footer-link {
  font-size: 24px;
  line-height: calc(36 / 24);
  letter-spacing: 0.02em;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--acent-txt-cl);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
